---
BasedOnStyle:  LLVM
IndentWidth: 2
AlignConsecutiveAssignments:
  Enabled:         false
AlignConsecutiveBitFields:
  Enabled:         true
AlignConsecutiveDeclarations:
  Enabled:         true
AlignConsecutiveMacros:
  Enabled:         true
AlignConsecutiveShortCaseStatements:
  Enabled:         true
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
ColumnLimit:     140
ContinuationIndentWidth: 2
IndentCaseBlocks: true
IndentCaseLabels: true
KeepEmptyLinesAtEOF: true
ReflowComments:  true
UseTab:          Never
...

